NEXT_PUBLIC_SUPABASE_URL=https://pomfnaabrmrwdyudxqij.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvbWZuYWFicm1yd2R5dWR4cWlqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzNzM4NzYsImV4cCI6MjA3Mzk0OTg3Nn0.GmFkn2yLdVO-mxombMmi5Nc3_MGryusuXGvZYSkPJQI